@charset "utf-8";

.vbutton {@include font-mid;display: inline-flex;justify-content: center;align-items: center;padding: 4px 12px;border: 1px solid $primary;border-radius: $radius1;background: $primary;color: $white;font-weight: $font-bold;cursor: pointer;transition: all $transition-speed;}
.vbutton:hover {border-color: $primary600;background: $primary600;}
.vbutton:active {opacity: 0.8;}
.vbutton:disabled {border-color: $grey300;background: $grey300;color: $grey400;pointer-events: none;}
.vbutton.loading {opacity: 0.4;pointer-events: none;}